#sample_tap_wrap {
    width: 100%;
    display: inline-block;
    position: relative;
}
.tap_swich {
    width: 100%;
    display: inline-block;
}
.swich_btn {
    width: 20%;
    background: #263576;
    color: #fff;
    border: 1px solid #ddd;
    float: left;
    margin: 0 6.666%;
    text-align: center;
    line-height:50px;
}
.img_cover_place {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}
.img_cover_place img {
    display: none;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}