*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
ul, li, ol {
    list-style: none;
}
a {
	text-decoration: none;
}
a:link,
a:visited,
a:active { 
    color: inherit;
}